


body {   
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
{margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

        header {
            background-color: #3498db;
            color: #fff;
            text-align: center;
            padding-top: 30px;
            margin-top:0px;
        }
p header{
            margin-bottom:0px;
            padding:10px;
}
{
    background-image: url('https://promwad.com/sites/default/files/web-development_0.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    
}

       

        .container {
            width: 100vw;
            height:100vh;
            margin: 0;
            padding: 20px;
            background-size:cover;
            background-attachment:fixed;
            background-image:url('https://promwad.com/sites/default/files/web-development_0.jpg');
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #fff;
        }

        h3 {
            color: #333;
        }

        p {
            color: #fff;
        }

        ul {
            list-style-type: disc;
            list-style:none;
            margin:0px;
        }

        .instructor-info {
            margin-top: 20px;
            padding: 10px;
            background-color: #f9f9f9;
        }

        .meeting-info {
            margin-top: 20px;
            padding: 10px;
            background-color: #f9f9f9;
        }

        .textbook-info {
            margin-top: 20px;
            padding: 10px;
            background-color: #f9f9f9;
        }
table {
  border-collapse: collapse; 
  width: 100%; 
}

th, td {
  border: 1px solid #000; 
  padding: 8px; 
  text-align: left; 
}

